@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html {
  overflow: hidden;
  background-image: url(./background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.link {
  width: 74px;
  height: 74px;
  border-radius: 15px;
  margin: 9px;
  border: none;
  background-color: transparent;
  transform: scale(1.0);
  opacity: 1;
  transition-duration: 0.2s;
  text-decoration: none; 
  animation-name: linkanimate;
}

.link:hover {
  transform: scale(0.9);
  opacity: 0.6;
  transition-duration: 0.2s;
}

.body {
  animation-name: linkanimate;
  display: flex;
  flex-direction: row;
  padding: 9px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dock {
  display: flex;
}

.image {
  border-radius: 15px;
  width: 74px;
}

.desc {
  animation-name: txtanimate;
  font-size: 30px;
  font-weight: 300;
}

.name {
  animation-name: txtanimate;
  font-size: 30px;
  font-weight: 700;
}

.head {
  font-family: 'Pretendard';
  padding-bottom: 10px;
}

@media screen and (max-width: 760px) {
  .body {
    flex-direction: column;
  }
  .desc {
    font-size: 19px;
  }
  .name {
    font-size: 19px;
  }
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

@keyframes linkanimate {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes txtanimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate.f1 {
  animation-delay: 0.1s;
}

.animate.f2 {
  animation-delay: 0.2s;
}

.animate.f3 {
  animation-delay: 0.3s;
}

.animate.f4 {
  animation-delay: 0.4s;
}

.animate.f5 {
  animation-delay: 0.5s;
}

.animate.f6 {
  animation-delay: 0.6s;
}

.animate.f7 {
  animation-delay: 0.7s;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}